name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Free Disk Space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"

    - name: Checkout code
      uses: actions/checkout@v4
      with:
          submodules: 'recursive'

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: gradle

    - name: Grant execute permission to gradlew
      run: chmod +x gradlew

    - name: Build with Gradle (Specific Variant)
      # Wir bauen nur die Play-Production-Debug Variante, um Platz zu sparen
      run: ./gradlew :Signal-Android:assemblePlayProdDebug

    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: signal-debug-apk
        path: app/build/outputs/apk/playProd/debug/*.apk
